<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Inventory App</title>
  </head>
  <body>
    <div id="side-menu">
      <div id="side-menu-title"><p>Dashboard</p></div>
      <div id="side-menu-btn-sct">
        <a href="/" class="side-menu-btn"><p>Dashboard</p></a>
        <a href="/allDevices" class="side-menu-btn"><p>All Devices</p></a>
        <a href="/laptops" class="side-menu-btn"><p>Laptop</p></a>
        <a href="/tablets" class="side-menu-btn"><p>Tablets</p></a>
      </div>
      <div id="side-menu-btn-add-new">
        <a href="/addNewDevice" id="side-menu-btn-add"><p>Add Device</p></a>
      </div>
    </div>

    <div id="main-popup-sct">aa</div>
  </body>
</html>
