body {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  background-color: rgb(209, 209, 209);
  margin: 0;
  height: 100vh;
}

#side-menu {
  grid-area: 1 / 1 / 31 / 6;
  background-color: rgb(8, 82, 180);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

#side-menu-title {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: sans-serif;
  color: rgb(204, 204, 204);
  font-weight: bold;
}

#side-menu-btn-sct {
  grid-area: 3 / 1 / auto / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(204, 204, 204);
  border: 3px solid rgb(204, 204, 204);
  border-radius: 1em;
  width: 80%;
  margin: 0.2em;
}

#side-menu-btn-add-new {
  grid-area: 6 / 1 / auto / 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-menu-btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(204, 204, 204);
  background-color: rgb(9, 53, 104);
  border: 3px solid rgb(204, 204, 204);
  border-radius: 1em;
  width: 80%;
  margin: 0.2em;
}

#main-popup-sct {
  grid-area: 3 / 7 / 8 / 30;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 7px solid rgb(8, 82, 180);
  border-radius: 20px;
}

#main-popup-box {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  border: 0.1em solid black;
  height: 90%;
  width: 5em;
  margin: 0.5em;
  border: 3px solid rgb(8, 82, 180);
  border-radius: 10px;
}

#main-popup-box-title {
}

#main-popup-box-text {
}

#main-la-sct {
  grid-area: 10 / 7 / 30 / 30;
  border: 7px solid rgb(8, 82, 180);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
